
<div id='title'><strong>Calculator</strong></div>

<div id='request form'>
  <%=
    form_for(Request.new) do |f| %>
    <div class='form'>
      <%= f.label :union%>
      <%= f.select(:union, ["Alkara", "Batisha", "Chauddagram", "Cheora", "Gholpasha", "Gunabati", "Jaganath Dighi", "Kalikapur", "Kankapait", "Kashinagar", "Munshirhat", "Shubhapur", "Sreepur", "Ujirpur"])
      %>
    </div>
    
    <div class='form'>
      <%= f.label :mouza%>
      <%= f.select(:mouza, ["Alkara", "Askalia", "Bakagram", "Banderjala", "Bhajankara", "Borankara", "Chhinaimuri", "Damar Para", "Dastasar", "Dhopakhila", "Futkara", "Golaikara", "Jangalpur", "Kaichati", "Kandua", "Kulashar", "Kunja Sreepur", "Latimi", "Narayankuri", "Padua", "Paschim Lakshmipur", "Purba Dakra", "Purba Sahapur", "Sahebnagar", "Satuchar", "Silari", "Sonaicha", "Atgram", "Basantapur", "Batisha", "Chandipur", "Chatitala", "Daiyara", "Dakshin Falgunkara", "Dalua", "Debipur", "Durgapur", "Jamkara", "Kalikapur", "Kaliksar", "Kuliara", "Ludiara", "Nankara Kismat", "Paragram", "Paschim Dhanmuri", "Pathandi", "Purba Dhanmuri", "Sonapur", "Unna Para", "Uttar Chandkara", "Uttar Falgunkara", "Baidyerkhil", "Chandiskara", "Gamarbari", "Joyanti Nagar", "Kamalpur", "Kismat Sreepur", "Lakshmipur", "Nabagram", "Nata Para", "Noapara", "Panchmora", "Ramchandrapur", "Ramroygram", "Senerkhil", "Sonakatia", "Sreepur", "Berella", "Chaportala", "Char Para", "Chhota Satbaria", "Chiara", "Chil Para", "Dhurkara", "Dimatali", "Ektalia", "Fulgram", "Ghoshtala", "Gunishkara", "Haldarmura", "Handa", "Hasti Mrita", "Jhatiarkhil", "Jinadkara", "Kabrua Kandirpar", "Kaitara", "Kaparchatali", "Krishnapur", "Kumardoga", "Neora", "Patadda", "Purba Sangishwar", "Rampur", "Sakehi", "Saktala", "Sarpati", "Sastanagar", "Sujatpur", "Tayasar", "Teligram", "Amanganda", "Dakshin Babuchi Dharmapur", "Dhanusara", "Gholpasha", "Gutra", "Jagamohanpur", "Jugirkhil", "Kumalla", "Morichatali", "Narayanpur", "Rajendrapur", "Rangamati", "Salukia", "Solakandi", "Subhapur", "Tula Puskarni", "Utanmuri", "Uttar Babuchi", "Agdia", "Akhirtala", "Baket Hamijala", "Bishnupur", "Budhra", "Chapacho", "Chopalia Para", "Dasbaha", "Fuler Naori", "Gunabati", "Jhikadda", "Kartam (Madhyadihi)", "Khatra", "Mayurpur", "Parikot", "Pirijkara", "Rajballabhpur", "Rajdarnagar", "Subarnapur", "Surikara", "Adarshawgram", "Atakara", "Bara Pushkarini", "Bardain (Bagudda)", "Bijoykara", "Datama", "Gangara", "Hatbaria", "Kachania", "Kairkhola", "Kakkara", "Kamarkara", "Kechkimura", "Khilla Para", "Kodalia", "Markota", "Noagram", "Payerkhola", "Ratanpur", "Sahapur", "Satgharia", "Satisak", "Suarkhil", "Sukchail", "Taligram", "Tilnari", "Uttar Betiara", "Abdullahpur", "Badarpur", "Bangalmuri", "Bijoypur", "Chandla", "Chhakua (Bardanbari)", "Dharmapur", "Jammura", "Jampur", "Kashipur", "Madda", "Noapur", "Paranpur", "Samaspur", "Agansail", "Baskhara", "Bhanushwar", "Bhulkara", "Buddin", "Chandrapur", "Daulatpur", "Hingula", "Jakjoar", "Kagash", "Kalkot", "Kankapait", "Karpati", "Kumarduga", "Lawlas", "Maliara", "Maskara", "Pannara", "Pathan Para", "Sajanpur", "Tarasail", "Alipur", "Ashwadia", "Balumuri", "Bara Kachlai", "Bariaya", "Helalnagar", "Jatrapur", "Joymangalpur", "Jugirkandi", "Katalia", "Majlishpur", "Nilake Bishnapur", "Shibpur", "Sreefultala", "Bahergara", "Bailpur", "Bangpai", "Barais", "Basanda", "Basubagh", "Chhatiani", "Dakra", "Derkota", "Jogirhat", "Keshna (Felna)", "Khiransal", "Lanishwar", "Mestala", "Mithilla", "Pachaimuri", "Satyapur (Fulmuri)", "Subgraus (Singraish)", "Agchar", "Atgharbagh", "Bagar Puskharini", "Ballar Char", "Chandpur", "Dari Barenga", "Dhanijkara", "Fakirhat", "Gasbaria", "Gobindapur", "Hazari Para", "kachia Pushkarni", "Kadair", "Kadghar Kalikapur", "Katpara", "kayerdhari", "Padua Khamar Pushkarini", "Paikpara", "Pasakot", "Patkora", "Purba Lakshmipur", "Satbaria", "Shubhapur", "Telihati", "Tula Pushkarini", "Unkot Bathanbari", "Bagaigram", "Bagair", "Baludhum", "Basuara", "Batara", "Bhaizkara", "Bhanga Pushkarini", "Bhitar Char", "Bhoai", "Cheoria", "Chhota Kashni", "Deokhar", "Dumuria", "Gandachi", "Gopalnagar", "Hasanpur", "Jagazaria", "Jaspur", "Kaiyani", "Kasnai", "Kheaish", "Lalghar", "Mandari", "Narchar", "Paikuta", "Panchara", "Purba Lohari", "Rajapur", "Sharifpur", "Taltali", "Tara Pushkarini", "Trishkot", "anikpur", "Ashrafpur", "Belghar", "Brahmapur", "Chak Kalisha", "Chandsree", "Chandul", "Gashigram", "Hashimpur", "Illashpur", "Jagatrampur (Rajandrapur)", "Kali Krishnanagar", "Karaibon", "Kathalia", "Kummardoga", "Purba Belghar", "Samuksar", "Sitalia"].sort)
      %>
    </div>
    
    <div class='form'>
      <%= f.label :village%>
      <%= f.select(:village, ["Alkara", "Askalia", "Bakagram", "Banderjala", "Bhajankara", "Borankara", "Chhinaimuri", "Damar Para", "Dastasar", "Dhopakhila", "Futkara", "Golaikara", "Jangalpur", "Kaichati", "Kandua", "Kulashar", "Kunja Sreepur", "Latimi", "Naraynkuri", "Padua", "Paschim Lakshmipur", "Purba Dakra", "Sahebnagar", "Satuchar", "Silari", "Sonaicha", "Atgram", "Basantapur", "Batisha", "Chandipur", "Chatitala", "Daiyara", "Baria", "Dakshin Falgunkara", "Dalua", "Debipur", "Durgapur", "Jamkara", "Kalikapur", "Kaliksar", "Kuliara", "Ludiara", "Nankara Kismat", "Paragram", "Paschim Dhanmuri", "Pathandi", "Purba Dhanmuri", "Sonapur", "Unna Para", "Uttar Chandkara", "Uttar Falgunkara", "Baidyerkhil", "Chandiskara", "Gamarbari", "Joyanti Nagar", "Kamalpur", "Kismat Sreepur", "Lakshmipur", "Uttar Nabagram", "Birchandra Nagar", "Nata Para", "Balijuri", "Noapara", "Panchmora", "Ramchandrapur", "Ramroygram", "Durgahata", "Senerkhil", "Sonakatia", "Sreepur", "Berella", "Chaportala", "Char Para", "Chhota Satbaria", "Chiara", "Chil Para", "Dhurkara", "Gopagram", "Dimatali", "Ektalia", "Fulgram", "Ghoshtala", "Gunishkara", "Haldarmura", "Handa", "Hasti Mrita", "Jhatiarkhil", "Jinadkara", "Kaba", "Kandirpar", "Kaitara", "Kaparchatali", "Krishnapur", "Kumardoga", "Neora", "Patadda", "Sonpur", "Purba Songishwar", "Rampur", "Sekchi", "Saktala", "Sarpati", "Sastanagar", "Sujatpur", "Tayasar", "Teligram", "Amanganda", "Dakshin Babuchi Dharmapu", "Dhanusara", "Gholpasha", "Gutra", "Jagamohanpur", "Jugirkhil", "Kumalla", "Bir Chanda Nagar", "Morichatali", "Sabek Para", "Goragora", "Hajigram", "Narayanpur", "Eashan Chandra Nagar", "Saidpur", "Rangamati", "Salukia", "Solakandi", "Subhapur", "Tula Puskarni", "Utanmuri", "Uttar Bobuchi", "Agdia", "Akhirtala", "Baket Hamijala", "Bishnupur", "Budhra", "Chapacho", "Chapalia Para", "Dasbaha", "Fuler Naori", "Gunabati", "Gunabati Bazar", "Jhikadda", "Kartam (Madhyadihi)", "Khatra", "Mayurpur", "Parikot", "Pirijkara", "Rajballabhpur", "Subarnapur", "Surikara", "Adarshawgram", "Akabpur", "Atakara", "Khajuria", "Bara Pushkarini", "Bardain (Bagudda)", "Bijoykara", "Gangara", "Hatbaria", "Kachania", "Kairkhola", "Kakkara", "Kamarkara", "Kechkimura", "Khilla Para", "Kodalia", "Markota", "Noagram", "Payerkhola", "Ratanpur", "Sahapur", "Satgharia", "Satisak", "Sukchail", "Taligram", "Tilnari", "Uttar Betiara", "Abdullahpur", "1st Badarpur", "Bangalmuri", "Bijoypur", "Chandla", "Chhakua (Bardanbari)", "Kingsupur", "Dharmapur", "Jammura", "Kalikrishna Nagar", "Jampur", "Kashipur", "Madda", "Noapur", "Paranpur", "Mohammadpur", "Agansail", "Bashkara", "Bhanushwar", "Bhulkara", "Buddin", "Chandrapur", "Daulatpur", "Hingulia", "Jakjoar", "Kagash", "Kalkot", "Kankapait", "Karpati", "Kumarduga", "Lawlas", "Maliara", "Maskara", "Pannara", "Pathan Para", "Sajanpur", "Tarasail", "Alipur", "Ashwadia", "Dakshin Balumuri", "Bara Kachlai", "Bariaya", "Gopalnagar", "Helalnagar", "Jatrapur", "Chandinagar", "Joymangalpur", "Hossainpur", "Jugirkandi", "Mohadebpur", "Katalia", "Ballabhpur", "Manikantapur", "Mazlishpur", "Nilake Bishnapur", "Shibpur", "Sreefultala", "Bahergara", "Balipur", "Chhotakhil", "Bangpai", "Barais", "Basanda", "Basubagh", "Chhatiani", "Dakra", "Derkota", "Jogirhat", "Keshna (Felna)", "Khiransal", "Lanishwar", "Mestala", "Mithilla", "Pechaimuri", "Satyapur (Fulmuri)", "Subgraus (Singraish)", "Agchar", "Atgharbagh", "Bagar Pushkarini", "Ballar Char", "Chandpur", "Dhanijkara", "Fakirhat", "Basbaria", "Gobindapur", "Hazari Para", "Kachia Pushkarni", "Kadair", "Kadghar Kalikapur", "Katpara", "Kayerdhari", "Khamar Pushkarini", "Paikpara", "Jashpur", "Pasakot", "Patkora", "Satbaria", "Shubhapur", "Telihati", "Tula Pushkarini", "Unkot Bathanbari", "Bagaigram", "Bagair", "Baludhum", "Basuara", "Batara", "Bhaizkara", "Bhanga Pushkarini", "Bhitar Char", "Bhoai", "Cheoria", "Chhota Hashni", "Deokhar", "Dumuria", "Gandachi", "Hasanpur", "Jagazaria", "Jaspur", "Kaiyani", "Kasnai", "Sukantala", "Kheaish", "Lalghar", "Mandari", "Narchar", "Paikuta", "Panchara", "Purba Lohari", "Rajapur", "Sharifpur", "Taltali", "Tara Pushkarini", "Trishkot", "Manikpur", "Ashrafpur", "Belghar", "Balhara", "Dakshin Pratappur", "Uttar Pratappur", "Chak Kalisha", "Ujirpur", "Chandsree", "Chandul", "Gashigram", "Bhathari", "Chak Lakshmipur", "Kopa", "Illashpur", "Jagattrampur (Rajandrapur)", "Kali Krishnanagar", "Karaibon", "Kathalia", "Krisnapur", "Kummardoga", "Purba Belghar", "Samuksar", "Sitalia"].sort)
      %>
    </div>
  
    <div class='form'>
      <%= f.label "Depth [ft]"%>
      <%= f.select(:depth, [40, 45, 50, 55, 60, 65, 70, 75, 80, 85, 90, 95, 100, 110, 120, 140, 145, 175, 210, 700, 125, 105, 115, 130, 135, 150, 160, 180, 190, 30, 800, 155, 655, 35, 165, 555, 710, 1085, 345, 170, 195, 200, 220, 230, 250, 350, 750, 820, 185, 260, 205, 755, 275, 440, 485, 960, 215, 225, 280, 380, 245, 235, 240, 650, 265, 720, 860, 450, 780, 255, 270, 285, 300, 315, 1200, 550, 600, 455, 525, 1000, 320, 580, 690, 1030, 1050, 1150, 540, 1185, 890, 360, 740, 850, 955, 500, 900, 680, 1110, 420, 505, 1055, 1060, 675, 760, 840, 805, 1115, 410, 910, 1155, 400, 870, 980, 1100, 310, 790, 630, 340, 330].sort)
 %>
    </div>
    
    <div class='form'>
      <%= f.label :color%>
      <%= f.select(:color,        ['Red',
                                  'Black',
                                  'Mixed/Unsure/NoPlatform'])%>
    </div>
  
    <div id='submit'>
      <%= f.submit 'Calculate Risk' %>
    </div>
  <% end %>
</div>

<!--
<div id='request form'>
  <%= form_tag("/requests", method: 'post') do %>
    <div class='form'>
    <%= label_tag(:location, 'Select Location:')%>
    <%= select_tag 'location', options_for_select(
                                  ['High Arsenic Area',
                                  'Moderate Arsenic Area',
                                  'Low Arsenic Area'],0)%><br>
    </div>
  
    <div class='form'>
    <%= label_tag(:depth, 'Depth:')%>
    <%= text_field_tag(:depth,nil,placeholder:'Depth in Meters') %><br>
    </div>
    
    <div class='form'>
    <%= label_tag(:color, 'Select color of well:')%>
    <%= select_tag 'color', options_for_select(
                                  ['Red',
                                  'Grey',
                                  'Blue'],'Grey')%><br>
    </div>
  
    <div id='submit'>
      <%= submit_tag('Calculate Risk') %>
    </div>
  <%end%>
</div>
-->

